.navbar > .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center; /* Default value for smaller screens */
}

/* Media query for screens larger than 768px */
@media (min-width: 992px) {
    .navbar > .container-fluid {
        justify-content: start; /* Change to space-between for larger screens */

    }
}

.bar {
    max-width: 1500px;
}