<div class="d-flex justify-content-between main">
    <div class="left-content">
        <span class="smallHeading">Let’s shift your business</span>
        <h1 class="my-3">Shift your business fast with Shade Pro.</h1>
        <p class="my-4">With lots of unique blocks, you can easily build a page without coding. Build your next
            consultancy website within few
            minutes.</p>
        <button type="button" class="btn btn-primary px-4 py-3">Get started a project</button>
    </div>
    <div class="">
        <img src="../../../assets/hero_img.png">
    </div>
</div>
