
.main {
	.left-content {
		max-width: 550px;
	
		.smallHeading {
			word-spacing: 5px;
			letter-spacing: 1.5px;
			color: #F64B4B;
		}
	
		h1 {
			font-weight: 700;
			font-size: 60px;
			letter-spacing: -4px;
			/* letter-spacing: 0; */
		}
	
		p {
			font-weight: 300;
			max-width: 410px;
		}
	}
	margin-top: 120px;
	margin-bottom: 120px;
}

/* .left-content .smallHeading{
    word-spacing: 5px;
    letter-spacing: 1.5px;
} */

